.navbar-collapse{
    overflow: hidden !important;
}

.navbar-title h1 {
    padding: 0;
    margin: 0 0 0 -15px;
}

.app-title {
    padding: 10px 15px;
}

.card {
    margin-bottom: 35px;
}

.card-green-light:hover .highlight,
.card-green-light:hover p {
    color: #fff !important;
}

.add-silo{
    padding-bottom: 18px;
}

.silo-view {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

.silo-view li {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    height: 600px;
    /*margin: auto;*/
    min-width: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    /*border-right: 1px solid #ccc;*/
}

.silo-view li input.btn{
    margin-top: 12px;
}

.silo-view li:last-child {
    border-right: none;
}

.silo-view .full-bar{
    display: flex;
    margin: auto;
    align-content: flex-end;
    margin-bottom: 20px;
    width: 46px;
    height: 180px;
    background-color: #eee;
}
.full-bar .silo-bar-percent{
    width: 100%;
    align-content: flex-end;
    background-color: lightblue;
    margin-top: auto;
    margin-bottom: 0;
}

.silo-view .volume {
    display: inline-block;
    font-size: 2.5em;
    height: 1.5em;
    width: 100%;
}

.silo-view .silo {
    display: inline-block;
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
}
.silo-view form{
    display: block;
    margin: auto;
}

.foam-type-home th:first-child,
.foam-type-home td:first-child,
.foam-type-home th:nth-child(2),
.foam-type-home td:nth-child(2),
.foam-type-home th:nth-child(3),
.foam-type-home td:nth-child(3) {
    width: 10%;
}

.form-footer {
    margin-top: 20px;
}

.username:first-letter {
    text-transform: uppercase;
}

.help-block {
    margin-bottom: 20px;
    color: #A94442;
}

/*.alert-profile,*/
.input-group-inapp {
    max-width: 500px !important;
}

.help-block.success {
    color: #0f7933 !important;
}

.btn-submit{
    margin-top: 10px;
}

.upload-file{
    margin: 15px 0 10px 0;
}

.profile-img-profile{
    width: 100px !important;
    height: 100px !important;
}

.label-profile{
    margin: 0 0 10px 0 !important;
    font-weight: 600;
}

.label-profile-notifications{
    margin: 0 0 15px 0 !important;
}

.input-group-mail{
    margin: 0 0 20px 0 !important;
}

.btn-email-preferences{
    margin: 10px 0 0 0;
}

.silo-img{
    height: 100px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.resource-img{
    position: absolute;
    width: 150px;
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
}
.resource-card{
    text-align: center;
}
.resource-card .resource-img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 125px;
    background-size: cover !important;
    background-position: center !important;
}
.resource-card .content{
    position: absolute;
    margin-top: 125px;
    text-align: center;
}
.resource-card .content .title{
    margin: 0;
}

.primes{
}
.primes h2,
.waste h2,
.resources h2{
    margin-top: 0;
    font-size: 1.6em;
    margin-right: 15px;
    margin-left: 15px;
}
.resources h2{
    text-align: right;
}

.avatar-mini{
    width: 25px !important;
    height: 25px !important;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -ms-border-radius: 100% !important;
    -o-border-radius: 100% !important;
    border-radius: 100% !important;
}

.profile-img{
    margin: 0 10px 0 20px !important;
}

.form-footer input{
    margin-right: 12px !important;
}

.group-elements-title{
    padding: 10px 0 10px 0;
    font-weight: 600;
}

.vet{
    font-weight: bold !important;
}

.feedback-title{
    margin-bottom: 10px !important;
}

@media only screen and (min-width:1920px){
    .app{
        width: 1920px !important;
        margin: 0 auto !important;
    }

}