.navbar-collapse{
    overflow: hidden !important;
}

.navbar-title h1 {
    padding: 0;
    margin: 0 0 0 -15px;
}

.app-title {
    padding: 10px 15px;
}

.card {
    margin-bottom: 35px;
}

.card-green-light:hover .highlight,
.card-green-light:hover p {
    color: #fff !important;
}

.silo-view {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

.silo-view li {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    height: 400px;
    margin: auto;
    min-width: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-right: 1px solid #ccc;
}

.silo-view li *{
    /*align-self: flex-end;*/
}

.silo-view li:last-child {
    border-right: none;
}

.silo-view .full-bar{
    display: flex;
    margin: auto;
    align-content: flex-end;
    margin-bottom: 20px;
    width: 46px;
    height: 180px;
}
.full-bar .silo-bar-percent{
    width: 100%;
    align-content: flex-end;
    background-color: lightblue;
    margin-top: auto;
    margin-bottom: 0;
}

.silo-view .volume {
    display: inline-block;
    font-size: 2.5em;
    height: 1.5em;
    width: 100%;
}

.silo-view .silo {
    display: inline-block;
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
}
.silo-view form{
    display: block;
    margin: auto;
}

.prime li {
    width: 16.66%;
}

.waste li {
    width: 33.33%;
}

.foam-type-home th:first-child,
.foam-type-home td:first-child,
.foam-type-home th:nth-child(2),
.foam-type-home td:nth-child(2),
.foam-type-home th:nth-child(3),
.foam-type-home td:nth-child(3) {
    width: 10%;
}

.form-footer {
    margin-top: 20px;
}

.username:first-letter {
    text-transform: uppercase;
}

.help-block {
    margin-bottom: 20px;
    color: #A94442;
}

/*.alert-profile,*/
.input-group-inapp {
    max-width: 500px !important;
}

.help-block.success {
    color: #0f7933 !important;
}

.btn-submit{
    margin-top: 10px;
}

.upload-file{
    margin: 15px 0 10px 0;
}

.profile-img-profile{
    width: 100px !important;
    height: 100px !important;
}

.label-profile{
    margin: 0 0 10px 0 !important;
    font-weight: 600;
}

.label-profile-notifications{
    margin: 0 0 15px 0 !important;
}

.input-group-mail{
    margin: 0 0 20px 0 !important;
}

.btn-email-preferences{
    margin: 10px 0 0 0;
}
