@media only screen and (max-width: 1300px){
	.silo-view 					{flex-wrap: wrap;}
	.prime li					{width: 33.33%;}
	.waste li 					{width: 100%;}
	.prime li:nth-child(3) 		{border-right: none;}
	.waste li 					{border: none;}
}

@media only screen and (max-width: 900px){
	.prime li 					{width: 50%;}
	.prime li:nth-child(even) 	{border: none;}
	.prime li:nth-child(odd) 	{border-right: 1px solid #ccc;}
}

@media only screen and (max-width: 767px){

}